In [1]:
import pandas as pd
import numpy as np

In [7]:
df1 = {'ID':[1111,2222,3333,4444],'Bool':[True,False,True,False],'Val':['AAA','BBB','CCC','DDD']}

In [8]:
df1 = pd.DataFrame(data=df1)

In [14]:
df2 = {'ID':[1111,3333,5555],'Val':['EEE','FFF','GGG']}

In [15]:
df2 = pd.DataFrame(data=df2)

In [47]:
b=df1['Bool']
df1.loc[b,'Val']=df1.loc[b,'ID'].map(df2.set_index('ID')['Val'])

In [48]:
df1

     ID   Bool  Val
0  1111   True  EEE
1  2222  False  BBB
2  3333   True  FFF
3  4444  False  DDD